
body {
    background: url("../images/movie.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}

#page-heading {
    border: 10px dotted gold;
    background: rgb(246, 0, 0);
    border-radius: 10px;
    box-shadow: 0 0 50px rgb(255, 217, 0);
}

.card-content  {
    background:rgba(145, 187, 235, 0) ;
    border: 10px ridge red;
    
}

.form-button {
    background-color: rgb(211, 109, 91);
    border: 6px dotted rgb(156, 48, 48);
    
}



.row {
    
    text-align: center;
    font-family:fantasy;
}





.search-poster {
    width: 125px !important;
    height: 185px !important;
}

#titleHelp {
    text-align:start;
}
